openapi: 3.0.0
info:
  title: Notion API
  description: >-
    I am a Notion API description.
servers:
  - url: https://api.notion.com
paths:
  /v1/users/{id}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      description: Retrieve a user object using the ID specified in the request path.
      parameters:
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{USER_ID}}'
        - name: Notion-Version
          in: header
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: user
                id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                name: Aman Gupta
                avatar_url: null
                type: person
                person:
                  email: XXXXXXXXXXX
  /v1/users:
    get:
      tags:
        - Users
      summary: List all users
      description: Returns a paginated list of user objects for a workspace
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                results:
                  - object: user
                    id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    name: Aman Gupta
                    avatar_url: null
                    type: person
                    person:
                      email: XXXXXXXXXX
                  - object: user
                    id: 92a680bb-6970-4726-952b-4f4c03bff617
                    name: Leotastic
                    avatar_url: null
                    type: bot
                    bot:
                      owner:
                        type: workspace
                        workspace: true
                next_cursor: null
                has_more: false
  /v1/users/me:
    get:
      tags:
        - Users
      summary: Retrieve bot's user info
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: user
                id: 92a680bb-6970-4726-952b-4f4c03bff617
                name: Leotastic
                avatar_url: null
                type: bot
                bot:
                  owner:
                    type: workspace
                    workspace: true
  /v1/databases/{id}:
    get:
      tags:
        - Databases
      summary: Retrieve a database
      description: 'Retrieves a database object using the ID specified in the request path. '
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{DATABASE_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: database
                id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                cover: null
                icon: null
                created_time: '2021-04-27T20:38:00.000Z'
                created_by:
                  object: user
                  id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                last_edited_by:
                  object: user
                  id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                last_edited_time: '2022-02-24T22:14:00.000Z'
                title:
                  - type: text
                    text:
                      content: Ever Better Reading List Title
                      link: null
                    annotations:
                      bold: false
                      italic: false
                      strikethrough: false
                      underline: false
                      code: false
                      color: default
                    plain_text: Ever Better Reading List Title
                    href: null
                properties:
                  Score /5:
                    id: )Y7%22
                    name: Score /5
                    type: select
                    select:
                      options:
                        - id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                          name: ⭐️⭐️⭐️⭐️⭐️
                          color: default
                        - id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                          name: ⭐️⭐️⭐️⭐️
                          color: default
                        - id: 9b1e1349-8e24-40ba-bbca-84a61296bc81
                          name: ⭐️⭐️⭐️
                          color: default
                        - id: 66d3d050-086c-4a91-8c56-d55dc67e7789
                          name: ⭐️⭐️
                          color: default
                        - id: d3782c76-0396-467f-928e-46bf0c9d5fba
                          name: ⭐️
                          color: default
                  Type:
                    id: '%2F7eo'
                    name: Type
                    type: select
                    select:
                      options:
                        - id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                          name: Article
                          color: default
                        - id: 4ac85597-5db1-4e0a-9c02-445575c38f76
                          name: TV Series
                          color: default
                        - id: 2991748a-5745-4c3b-9c9b-2d6846a6fa1f
                          name: Film
                          color: default
                        - id: 82f3bace-be25-410d-87fe-561c9c22492f
                          name: Podcast
                          color: default
                        - id: 861f1076-1cc4-429a-a781-54947d727a4a
                          name: Academic Journal
                          color: default
                        - id: 9cc30548-59d6-4cd3-94bc-d234081525c4
                          name: Essay Resource
                          color: default
                  Publisher:
                    id: '%3E%24Pb'
                    name: Publisher
                    type: select
                    select:
                      options:
                        - id: c5ee409a-f307-4176-99ee-6e424fa89afa
                          name: NYT
                          color: default
                        - id: 1b9b0c0c-17b0-4292-ad12-1364a51849de
                          name: Netflix
                          color: blue
                        - id: f3533637-278f-4501-b394-d9753bf3c101
                          name: Indie
                          color: brown
                        - id: e70d713c-4be4-4b40-a44d-fb413c8b9d7e
                          name: Bon Appetit
                          color: yellow
                        - id: 9c2bd667-0a10-4be4-a044-35a537a14ab9
                          name: Franklin Institute
                          color: pink
                        - id: 6849b5f0-e641-4ec5-83cb-1ffe23011060
                          name: Springer
                          color: orange
                        - id: 6a5bff63-a72d-4464-a5d0-1a601af2adf6
                          name: Emerald Group
                          color: gray
                        - id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                          name: The Atlantic
                          color: red
                  Summary:
                    id: '%3F%5C25'
                    name: Summary
                    type: rich_text
                    rich_text: {}
                  Publishing/Release Date:
                    id: '%3Fex%2B'
                    name: Publishing/Release Date
                    type: date
                    date: {}
                  Link:
                    id: VVMi
                    name: Link
                    type: url
                    url: {}
                  Read:
                    id: _MWJ
                    name: Read
                    type: checkbox
                    checkbox: {}
                  Status:
                    id: '%60zz5'
                    name: Status
                    type: select
                    select:
                      options:
                        - id: 8c4a056e-6709-4dd1-ba58-d34d9480855a
                          name: Ready to Start
                          color: yellow
                        - id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                          name: Reading
                          color: red
                        - id: 59aa9043-07b4-4bf4-8734-3164b13af44a
                          name: Finished
                          color: blue
                        - id: f961978d-02eb-4998-933a-33c2ec378564
                          name: Listening
                          color: red
                        - id: 1d450853-b27a-45e2-979f-448aa1bd35de
                          name: Watching
                          color: red
                  Author:
                    id: qNw_
                    name: Author
                    type: multi_select
                    multi_select:
                      options:
                        - id: 15592971-7b30-43d5-9406-2eb69b13fcae
                          name: Spencer Greenberg
                          color: default
                        - id: b80a988e-dccf-4f74-b764-6ca0e49ed1b8
                          name: Seth Stephens-Davidowitz
                          color: default
                        - id: 0e71ee06-199d-46a4-834c-01084c8f76cb
                          name: Andrew Russell
                          color: default
                        - id: 5807ec38-4879-4455-9f30-5352e90e8b79
                          name: Lee Vinsel
                          color: default
                        - id: 4cf10a64-f3da-449c-8e04-ce6e338bbdbd
                          name: Megan Greenwell
                          color: default
                        - id: 833e2c78-35ed-4601-badc-50c323341d76
                          name: Kara Swisher
                          color: default
                        - id: 82e594e2-b1c5-4271-ac19-1a723a94a533
                          name: Paul Romer
                          color: default
                        - id: ae3a2cbe-1fc9-4376-be35-331628b34623
                          name: Karen Swallow Prior
                          color: default
                        - id: da068e78-dfe2-4434-9fd7-b7450b3e5830
                          name: Judith Shulevitz
                          color: default
                  Name:
                    id: title
                    name: Name
                    type: title
                    title: {}
                parent:
                  type: page_id
                  page_id: c4d39556-6364-46a1-8a61-ebbb668f7445
                url: https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae
                archived: false
    patch:
      tags:
        - Databases
      summary: Update a database
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                title:
                  - text:
                      content: Ever Better Reading List Title
                properties:
                  Wine Pairing:
                    rich_text: {}
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /v1/databases/{id}/query:
    post:
      tags:
        - Databases
      summary: Query a database
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"filter\": {\n        \"property\":
                \"Status\",\n        \"select\": {\n            \"equals\":
                \"Reading\"\n        }\n    }\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer secret_t1CdN9S8yicG5eWLUOfhcWaOscVnFXns
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{DATABASE_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: 200 Success - Query a Database (OR)
                  value:
                    object: list
                    results:
                      - object: page
                        id: a1712d54-53e4-4893-a69d-4d581cd2c845
                        created_time: '2021-04-27T20:38:00.000Z'
                        last_edited_time: '2021-05-12T06:07:00.000Z'
                        created_by:
                          object: user
                          id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                        last_edited_by:
                          object: user
                          id: 92a680bb-6970-4726-952b-4f4c03bff617
                        cover: null
                        icon: null
                        parent:
                          type: database_id
                          database_id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                        archived: false
                        properties:
                          Score /5:
                            id: )Y7%22
                            type: select
                            select:
                              id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                              name: ⭐️⭐️⭐️⭐️
                              color: default
                          Type:
                            id: '%2F7eo'
                            type: select
                            select:
                              id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                              name: Article
                              color: default
                          Publisher:
                            id: '%3E%24Pb'
                            type: select
                            select:
                              id: c5ee409a-f307-4176-99ee-6e424fa89afa
                              name: NYT
                              color: default
                          Summary:
                            id: '%3F%5C25'
                            type: rich_text
                            rich_text:
                              - type: text
                                text:
                                  content: >-
                                    Some think chief ethics officers could help
                                    technology companies navigate political and
                                    social questions.
                                  link: null
                                annotations:
                                  bold: false
                                  italic: false
                                  strikethrough: false
                                  underline: false
                                  code: false
                                  color: default
                                plain_text: >-
                                  Some think chief ethics officers could help
                                  technology companies navigate political and
                                  social questions.
                                href: null
                          Publishing/Release Date:
                            id: '%3Fex%2B'
                            type: date
                            date:
                              start: '2018-10-21'
                              end: null
                              time_zone: null
                          Link:
                            id: VVMi
                            type: url
                            url: >-
                              https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html
                          Read:
                            id: _MWJ
                            type: checkbox
                            checkbox: true
                          Status:
                            id: '%60zz5'
                            type: select
                            select:
                              id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                              name: Reading
                              color: red
                          Author:
                            id: qNw_
                            type: multi_select
                            multi_select:
                              - id: 833e2c78-35ed-4601-badc-50c323341d76
                                name: Kara Swisher
                                color: default
                          Name:
                            id: title
                            type: title
                            title:
                              - type: text
                                text:
                                  content: >-
                                    Who Will Teach Silicon Valley to Be
                                    Ethical? 
                                  link: null
                                annotations:
                                  bold: false
                                  italic: false
                                  strikethrough: false
                                  underline: false
                                  code: false
                                  color: default
                                plain_text: 'Who Will Teach Silicon Valley to Be Ethical? '
                                href: null
                        url: >-
                          https://www.notion.so/Who-Will-Teach-Silicon-Valley-to-Be-Ethical-a1712d5453e44893a69d4d581cd2c845
                      - object: page
                        id: 557ef501-bfdb-4586-918e-4434f31bca8c
                        created_time: '2021-04-27T20:38:00.000Z'
                        last_edited_time: '2021-04-27T20:38:00.000Z'
                        created_by:
                          object: user
                          id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                        last_edited_by:
                          object: user
                          id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                        cover: null
                        icon: null
                        parent:
                          type: database_id
                          database_id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                        archived: false
                        properties:
                          Score /5:
                            id: )Y7%22
                            type: select
                            select:
                              id: 66d3d050-086c-4a91-8c56-d55dc67e7789
                              name: ⭐️⭐️
                              color: default
                          Type:
                            id: '%2F7eo'
                            type: select
                            select:
                              id: 9cc30548-59d6-4cd3-94bc-d234081525c4
                              name: Essay Resource
                              color: default
                          Publisher:
                            id: '%3E%24Pb'
                            type: select
                            select:
                              id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                              name: The Atlantic
                              color: red
                          Summary:
                            id: '%3F%5C25'
                            type: rich_text
                            rich_text: []
                          Publishing/Release Date:
                            id: '%3Fex%2B'
                            type: date
                            date:
                              start: '2016-10-03'
                              end: null
                              time_zone: null
                          Link:
                            id: VVMi
                            type: url
                            url: >-
                              https://www.theatlantic.com/entertainment/archive/2016/03/how-jane-eyre-created-the-modern-self/460461/
                          Read:
                            id: _MWJ
                            type: checkbox
                            checkbox: false
                          Status:
                            id: '%60zz5'
                            type: select
                            select:
                              id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                              name: Reading
                              color: red
                          Author:
                            id: qNw_
                            type: multi_select
                            multi_select:
                              - id: ae3a2cbe-1fc9-4376-be35-331628b34623
                                name: Karen Swallow Prior
                                color: default
                          Name:
                            id: title
                            type: title
                            title:
                              - type: text
                                text:
                                  content: Jane Eyre
                                  link: null
                                annotations:
                                  bold: false
                                  italic: true
                                  strikethrough: false
                                  underline: false
                                  code: false
                                  color: default
                                plain_text: Jane Eyre
                                href: null
                              - type: text
                                text:
                                  content: ' and the Invention of Self'
                                  link: null
                                annotations:
                                  bold: false
                                  italic: false
                                  strikethrough: false
                                  underline: false
                                  code: false
                                  color: default
                                plain_text: ' and the Invention of Self'
                                href: null
                        url: >-
                          https://www.notion.so/Jane-Eyre-and-the-Invention-of-Self-557ef501bfdb4586918e4434f31bca8c
                      - object: page
                        id: 7ea694fa-93bb-43ba-b342-90a7706e55aa
                        created_time: '2021-04-27T20:38:00.000Z'
                        last_edited_time: '2021-04-27T20:38:00.000Z'
                        created_by:
                          object: user
                          id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                        last_edited_by:
                          object: user
                          id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                        cover: null
                        icon: null
                        parent:
                          type: database_id
                          database_id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                        archived: false
                        properties:
                          Score /5:
                            id: )Y7%22
                            type: select
                            select: null
                          Type:
                            id: '%2F7eo'
                            type: select
                            select:
                              id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                              name: Article
                              color: default
                          Publisher:
                            id: '%3E%24Pb'
                            type: select
                            select:
                              id: c5ee409a-f307-4176-99ee-6e424fa89afa
                              name: NYT
                              color: default
                          Summary:
                            id: '%3F%5C25'
                            type: rich_text
                            rich_text:
                              - type: text
                                text:
                                  content: >-
                                    Putting a levy on targeted ad revenue would
                                    give Facebook and Google a real incentive to
                                    change their dangerous business models.
                                  link: null
                                annotations:
                                  bold: false
                                  italic: false
                                  strikethrough: false
                                  underline: false
                                  code: false
                                  color: default
                                plain_text: >-
                                  Putting a levy on targeted ad revenue would
                                  give Facebook and Google a real incentive to
                                  change their dangerous business models.
                                href: null
                          Publishing/Release Date:
                            id: '%3Fex%2B'
                            type: date
                            date:
                              start: '2019-10-06'
                              end: null
                              time_zone: null
                          Link:
                            id: VVMi
                            type: url
                            url: >-
                              https://www.nytimes.com/2019/05/06/opinion/tax-facebook-google.html
                          Read:
                            id: _MWJ
                            type: checkbox
                            checkbox: false
                          Status:
                            id: '%60zz5'
                            type: select
                            select:
                              id: 8c4a056e-6709-4dd1-ba58-d34d9480855a
                              name: Ready to Start
                              color: yellow
                          Author:
                            id: qNw_
                            type: multi_select
                            multi_select:
                              - id: 82e594e2-b1c5-4271-ac19-1a723a94a533
                                name: Paul Romer
                                color: default
                          Name:
                            id: title
                            type: title
                            title:
                              - type: text
                                text:
                                  content: 'A Tax That Could Fix Big Tech '
                                  link: null
                                annotations:
                                  bold: false
                                  italic: false
                                  strikethrough: false
                                  underline: false
                                  code: false
                                  color: default
                                plain_text: 'A Tax That Could Fix Big Tech '
                                href: null
                        url: >-
                          https://www.notion.so/A-Tax-That-Could-Fix-Big-Tech-7ea694fa93bb43bab34290a7706e55aa
                    next_cursor: null
                    has_more: false
  /v1/databases/:
    post:
      tags:
        - Databases
      summary: Create a database
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"parent\": {\n        \"type\": \"page_id\",\n       
                \"page_id\": \"{{PAGE_ID}}\"\n    },\n    \"title\": [\n       
                {\n            \"type\": \"text\",\n            \"text\":
                {\n                \"content\": \"Grocery
                List\",\n                \"link\": null\n            }\n       
                }\n    ],\n    \"properties\": {\n        \"Name\":
                {\n            \"title\": {}\n        },\n       
                \"Description\": {\n            \"rich_text\": {}\n       
                },\n        \"In stock\": {\n            \"checkbox\":
                {}\n        },\n        \"Food group\": {\n           
                \"select\": {\n                \"options\":
                [\n                    {\n                        \"name\":
                \"🥦Vegetable\",\n                        \"color\":
                \"green\"\n                    },\n                   
                {\n                        \"name\":
                \"🍎Fruit\",\n                        \"color\":
                \"red\"\n                    },\n                   
                {\n                        \"name\":
                \"💪Protein\",\n                        \"color\":
                \"yellow\"\n                    }\n               
                ]\n            }\n        },\n        \"Price\": {\n           
                \"number\": {\n                \"format\":
                \"dollar\"\n            }\n        },\n        \"Last ordered\":
                {\n            \"date\": {}\n        },\n        \"Store
                availability\": {\n            \"type\":
                \"multi_select\",\n            \"multi_select\":
                {\n                \"options\": [\n                   
                {\n                        \"name\": \"Duc Loi
                Market\",\n                        \"color\":
                \"blue\"\n                    },\n                   
                {\n                        \"name\": \"Rainbow
                Grocery\",\n                        \"color\":
                \"gray\"\n                    },\n                   
                {\n                        \"name\": \"Nijiya
                Market\",\n                        \"color\":
                \"purple\"\n                    },\n                   
                {\n                        \"name\": \"Gus's Community
                Market\",\n                        \"color\":
                \"yellow\"\n                    }\n               
                ]\n            }\n        },\n        \"+1\": {\n           
                \"people\": {}\n        },\n        \"Photo\": {\n           
                \"files\": {}\n        }\n    }\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: database
                id: 23cde96c-0ad8-41d8-bfa2-b477c63dd52a
                cover: null
                icon: null
                created_time: '2022-02-24T22:06:00.000Z'
                created_by:
                  object: user
                  id: 92a680bb-6970-4726-952b-4f4c03bff617
                last_edited_by:
                  object: user
                  id: 92a680bb-6970-4726-952b-4f4c03bff617
                last_edited_time: '2022-02-24T22:06:00.000Z'
                title:
                  - type: text
                    text:
                      content: Grocery List
                      link: null
                    annotations:
                      bold: false
                      italic: false
                      strikethrough: false
                      underline: false
                      code: false
                      color: default
                    plain_text: Grocery List
                    href: null
                properties:
                  Description:
                    id: '%3EWW~'
                    name: Description
                    type: rich_text
                    rich_text: {}
                  Last ordered:
                    id: O%5C%3BK
                    name: Last ordered
                    type: date
                    date: {}
                  In stock:
                    id: Pya%5C
                    name: In stock
                    type: checkbox
                    checkbox: {}
                  '+1':
                    id: '%5CSky'
                    name: '+1'
                    type: people
                    people: {}
                  Photo:
                    id: dSrT
                    name: Photo
                    type: files
                    files: {}
                  Store availability:
                    id: jRd%3E
                    name: Store availability
                    type: multi_select
                    multi_select:
                      options:
                        - id: 8e6441ee-8f17-4833-a2fe-68af5dced24f
                          name: Duc Loi Market
                          color: blue
                        - id: 64a9da77-9805-461f-9773-1e176fdbd203
                          name: Rainbow Grocery
                          color: gray
                        - id: 012d0436-66a1-4613-a1bd-314b1d1d059b
                          name: Nijiya Market
                          color: purple
                        - id: 63ab31f9-8cbd-4d02-8688-752376f455ea
                          name: Gus's Community Market
                          color: yellow
                  Food group:
                    id: q%5DO%5B
                    name: Food group
                    type: select
                    select:
                      options:
                        - id: 392af858-f42f-43ea-a171-7c0ca5c0a683
                          name: 🥦Vegetable
                          color: green
                        - id: df461a24-14c6-494a-8c61-55775fedbdcd
                          name: 🍎Fruit
                          color: red
                        - id: 0ff22aaa-348e-4194-83c2-67a76dfb10fc
                          name: 💪Protein
                          color: yellow
                  Price:
                    id: t%60jj
                    name: Price
                    type: number
                    number:
                      format: dollar
                  Name:
                    id: title
                    name: Name
                    type: title
                    title: {}
                parent:
                  type: page_id
                  page_id: c4d39556-6364-46a1-8a61-ebbb668f7445
                url: https://www.notion.so/23cde96c0ad841d8bfa2b477c63dd52a
                archived: false
  /v1/pages/:
    post:
      tags:
        - Pages
      summary: Create a Page with Content
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"parent\": {\n        \"database_id\":
                \"{{DATABASE_ID}}\"\n    },\n    \"properties\": {\n       
                \"Type\": {\n            \"select\": {\n                \"id\":
                \"f96d0d0a-5564-4a20-ab15-5f040d49759e\",\n               
                \"name\": \"Article\",\n                \"color\":
                \"default\"\n            }\n        },\n        \"Score /5\":
                {\n            \"select\": {\n                \"id\":
                \"5c944de7-3f4b-4567-b3a1-fa2c71c540b6\",\n               
                \"name\": \"⭐️⭐️⭐️⭐️⭐️\",\n                \"color\":
                \"default\"\n            }\n        },\n        \"Name\":
                {\n            \"title\": [\n               
                {\n                    \"text\": {\n                       
                \"content\": \"New Media Article\"\n                   
                }\n                }\n            ]\n        },\n       
                \"Status\": {\n            \"select\": {\n               
                \"id\":
                \"8c4a056e-6709-4dd1-ba58-d34d9480855a\",\n               
                \"name\": \"Ready to Start\",\n                \"color\":
                \"yellow\"\n            }\n        },\n        \"Publisher\":
                {\n            \"select\": {\n                \"id\":
                \"01f82d08-aa1f-4884-a4e0-3bc32f909ec4\",\n               
                \"name\": \"The Atlantic\",\n                \"color\":
                \"red\"\n            }\n        },\n        \"Publishing/Release
                Date\": {\n            \"date\": {\n                \"start\":
                \"2020-12-08T12:00:00Z\",\n                \"end\":
                null\n            }\n        },\n        \"Link\":
                {\n            \"url\":
                \"https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html\"\n       
                },\n        \"Summary\": {\n            \"rich_text\":
                [\n                {\n                    \"type\":
                \"text\",\n                    \"text\":
                {\n                        \"content\": \"Some think chief
                ethics officers could help technology companies navigate
                political and social questions.\",\n                       
                \"link\": null\n                    },\n                   
                \"annotations\": {\n                        \"bold\":
                false,\n                        \"italic\":
                false,\n                        \"strikethrough\":
                false,\n                        \"underline\":
                false,\n                        \"code\":
                false,\n                        \"color\":
                \"default\"\n                    },\n                   
                \"plain_text\": \"Some think chief ethics officers could help
                technology companies navigate political and social
                questions.\",\n                    \"href\":
                null\n                }\n            ]\n        },\n       
                \"Read\": {\n            \"checkbox\": false\n        }\n   
                },\n    \"children\": [\n        {\n            \"object\":
                \"block\",\n            \"type\": \"heading_2\",\n           
                \"heading_2\": {\n                \"rich_text\":
                [\n                    {\n                        \"type\":
                \"text\",\n                        \"text\":
                {\n                            \"content\": \"Lacinato
                kale\"\n                        }\n                   
                }\n                ]\n            }\n        },\n       
                {\n            \"object\": \"block\",\n            \"type\":
                \"paragraph\",\n            \"paragraph\": {\n               
                \"text\": [\n                    {\n                       
                \"type\": \"text\",\n                        \"text\":
                {\n                            \"content\": \"Lacinato kale is a
                variety of kale with a long tradition in Italian cuisine,
                especially that of Tuscany. It is also known as Tuscan kale,
                Italian kale, dinosaur kale, kale, flat back kale, palm tree
                kale, or black Tuscan palm.\",\n                           
                \"link\": {\n                                \"url\":
                \"https://en.wikipedia.org/wiki/Lacinato_kale\"\n                           
                }\n                        }\n                   
                }\n                ]\n            }\n        }\n    ]\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer secret_t1CdN9S8yicG5eWLUOfhcWaOscVnFXns
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: page
                id: 672b014a-2626-4ada-9211-fb3613d07ae2
                created_time: '2022-03-02T05:24:00.000Z'
                last_edited_time: '2022-03-02T05:24:00.000Z'
                created_by:
                  object: user
                  id: 92a680bb-6970-4726-952b-4f4c03bff617
                last_edited_by:
                  object: user
                  id: 92a680bb-6970-4726-952b-4f4c03bff617
                cover: null
                icon: null
                parent:
                  type: database_id
                  database_id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                archived: false
                properties:
                  Score /5:
                    id: )Y7%22
                    type: select
                    select:
                      id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                      name: ⭐️⭐️⭐️⭐️⭐️
                      color: default
                  Type:
                    id: '%2F7eo'
                    type: select
                    select:
                      id: 672b014a-2626-4ada-9211-fb3613d07ae2
                      name: Article
                      color: default
                  Publisher:
                    id: '%3E%24Pb'
                    type: select
                    select:
                      id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                      name: The Atlantic
                      color: red
                  Summary:
                    id: '%3F%5C25'
                    type: rich_text
                    rich_text:
                      - type: text
                        text:
                          content: >-
                            Some think chief ethics officers could help
                            technology companies navigate political and social
                            questions.
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: >-
                          Some think chief ethics officers could help technology
                          companies navigate political and social questions.
                        href: null
                  Publishing/Release Date:
                    id: '%3Fex%2B'
                    type: date
                    date:
                      start: '2020-12-08T12:00:00.000+00:00'
                      end: null
                      time_zone: null
                  Link:
                    id: VVMi
                    type: url
                    url: >-
                      https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html
                  Read:
                    id: _MWJ
                    type: checkbox
                    checkbox: false
                  Status:
                    id: '%60zz5'
                    type: select
                    select:
                      id: 8c4a056e-6709-4dd1-ba58-d34d9480855a
                      name: Ready to Start
                      color: yellow
                  Author:
                    id: qNw_
                    type: multi_select
                    multi_select: []
                  Name:
                    id: title
                    type: title
                    title:
                      - type: text
                        text:
                          content: New Media Article
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: New Media Article
                        href: null
                url: >-
                  https://www.notion.so/New-Media-Article-672b014a26264ada9211fb3613d07ae2
  /v1/pages/{id}:
    get:
      tags:
        - Pages
      summary: Retrieve a Page
      description: >-
        Retrieves a Page object using the ID in the request path. This endpoint
        exposes page properties, not page content. 
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{PAGE_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: page
                id: c4d39556-6364-46a1-8a61-ebbb668f7445
                created_time: '2021-04-27T20:38:00.000Z'
                last_edited_time: '2022-03-02T05:22:00.000Z'
                created_by:
                  object: user
                  id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                last_edited_by:
                  object: user
                  id: 92a680bb-6970-4726-952b-4f4c03bff617
                cover: null
                icon:
                  type: emoji
                  emoji: 📕
                parent:
                  type: page_id
                  page_id: c1218692-102d-4b47-ab38-c21900b3557b
                archived: false
                properties:
                  title:
                    id: title
                    type: title
                    title:
                      - type: text
                        text:
                          content: Reading List
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: Reading List
                        href: null
                url: >-
                  https://www.notion.so/Reading-List-c4d39556636446a18a61ebbb668f7445
    patch:
      tags:
        - Pages
      summary: 'Update Page properties '
      description: >-
        Updates a page by setting the values of any properties specified in the
        JSON body of the request. Properties not updated via parameters will
        remain unchanged. 
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"properties\": {\n        \"Status\": {\n           
                \"select\": {\n                \"name\":
                \"Reading\"\n            }\n        }\n    }\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{PAGE_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: page
                id: a1712d54-53e4-4893-a69d-4d581cd2c845
                created_time: '2021-04-27T20:38:19.437Z'
                last_edited_time: '2021-04-28T23:12:53.160Z'
                parent:
                  type: database_id
                  database_id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                archived: false
                properties:
                  Score /5:
                    id: )Y7"
                    type: select
                    select:
                      id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                      name: ⭐️⭐️⭐️⭐️
                      color: default
                  Type:
                    id: /7eo
                    type: select
                    select:
                      id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                      name: Article
                      color: default
                  Publisher:
                    id: '>$Pb'
                    type: select
                    select:
                      id: c5ee409a-f307-4176-99ee-6e424fa89afa
                      name: NYT
                      color: default
                  Summary:
                    id: '?\25'
                    type: rich_text
                    rich_text:
                      - type: text
                        text:
                          content: >-
                            Some think chief ethics officers could help
                            technology companies navigate political and social
                            questions.
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: >-
                          Some think chief ethics officers could help technology
                          companies navigate political and social questions.
                        href: null
                  Publishing/Release Date:
                    id: '?ex+'
                    type: date
                    date:
                      start: '2018-10-21'
                      end: null
                  Link:
                    id: VVMi
                    type: url
                    url: >-
                      https://www.nytimes.com/2018/10/21/opinion/who-will-teach-silicon-valley-to-be-ethical.html
                  Read:
                    id: _MWJ
                    type: checkbox
                    checkbox: true
                  Status:
                    id: '`zz5'
                    type: select
                    select:
                      id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                      name: Reading
                      color: red
                  Author:
                    id: qNw_
                    type: multi_select
                    multi_select:
                      - id: 833e2c78-35ed-4601-badc-50c323341d76
                        name: Kara Swisher
                        color: default
                  Name:
                    id: title
                    type: title
                    title:
                      - type: text
                        text:
                          content: 'Who Will Teach Silicon Valley to Be Ethical? '
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: 'Who Will Teach Silicon Valley to Be Ethical? '
                        href: null
  /v1/blocks/{id}:
    delete:
      tags:
        - Blocks
      summary: Delete a block
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{BLOCK_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: block
                id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
                created_time: '2021-08-06T17:46:00.000Z'
                last_edited_time: '2022-02-24T22:26:00.000Z'
                created_by:
                  object: user
                  id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                last_edited_by:
                  object: user
                  id: 92a680bb-6970-4726-952b-4f4c03bff617
                has_children: false
                archived: true
                type: paragraph
                paragraph:
                  text:
                    - type: text
                      text:
                        content: hello to you
                        link: null
                      annotations:
                        bold: false
                        italic: false
                        strikethrough: false
                        underline: false
                        code: false
                        color: default
                      plain_text: hello to you
                      href: null
    patch:
      tags:
        - Blocks
      summary: Update a block
      description: >-
        This endpoint allows you to update block content. [See Full
        Documentation](https://developers.notion.com/reference/update-a-block)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                paragraph:
                  rich_text:
                    - type: text
                      text:
                        content: hello to you
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{BLOCK_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: block
                id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
                created_time: '2021-08-06T17:46:00.000Z'
                last_edited_time: '2021-08-12T00:12:00.000Z'
                has_children: false
                type: paragraph
                paragraph:
                  text:
                    - type: text
                      text:
                        content: hello to you
                        link: null
                      annotations:
                        bold: false
                        italic: false
                        strikethrough: false
                        underline: false
                        code: false
                        color: default
                      plain_text: hello to you
                      href: null
    get:
      tags:
        - Blocks
      summary: Retrieve a block
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{BLOCK_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: block
                id: 4868767d-9029-4b9d-a41b-652ef4c9c7b9
                created_time: '2021-08-06T17:46:00.000Z'
                last_edited_time: '2021-08-12T00:12:00.000Z'
                has_children: false
                type: paragraph
                paragraph:
                  text:
                    - type: text
                      text:
                        content: hello to you
                        link: null
                      annotations:
                        bold: false
                        italic: false
                        strikethrough: false
                        underline: false
                        code: false
                        color: default
                      plain_text: hello to you
                      href: null
  /v1/pages/{page_id}/properties/{property_id}:
    get:
      tags:
        - Pages
      summary: Retrieve a Page Property Item
      parameters:
        - name: page_id
          in: path
          schema:
            type: string
          required: true
          example: '{{PAGE_ID}}'
        - name: property_id
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: property_item
                type: select
                select:
                  id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                  name: ⭐️⭐️⭐️⭐️⭐️
                  color: default
  /v1/blocks/{id}/children:
    get:
      tags:
        - Blocks
      summary: Retrieve block children
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: page_size
          in: query
          schema:
            type: integer
          example: '100'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{PAGE_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
    patch:
      tags:
        - Blocks
      summary: Append block children
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n\t\"children\": [\n\t\t{\n\t\t\t\"object\":
                \"block\",\n\t\t\t\"type\": \"heading_2\",\n\t\t\t\"heading_2\":
                {\n\t\t\t\t\"text\": [{ \"type\": \"text\", \"text\": {
                \"content\": \"Lacinato kale\" }
                }]\n\t\t\t}\n\t\t},\n\t\t{\n\t\t\t\"object\":
                \"block\",\n\t\t\t\"type\": \"paragraph\",\n\t\t\t\"paragraph\":
                {\n\t\t\t\t\"rich_text\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"type\":
                \"text\",\n\t\t\t\t\t\t\"text\": {\n\t\t\t\t\t\t\t\"content\":
                \"Lacinato kale is a variety of kale with a long tradition in
                Italian cuisine, especially that of Tuscany. It is also known as
                Tuscan kale, Italian kale, dinosaur kale, kale, flat back kale,
                palm tree kale, or black Tuscan
                palm.\",\n\t\t\t\t\t\t\t\"link\": { \"url\":
                \"https://en.wikipedia.org/wiki/Lacinato_kale\"
                }\n\t\t\t\t\t\t}\n\t\t\t\t\t}\n\t\t\t\t]\n\t\t\t}\n\t\t}\n\t]\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: Bearer secret_t1CdN9S8yicG5eWLUOfhcWaOscVnFXns
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{PAGE_ID}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: block
                id: a1712d54-53e4-4893-a69d-4d581cd2c845
                created_time: '2021-04-27T20:38:19.437Z'
                last_edited_time: '2021-05-12T06:07:37.724Z'
                has_children: true
                type: child_page
                child_page:
                  title: 'Who Will Teach Silicon Valley to Be Ethical? '
  /v1/search:
    post:
      tags:
        - Search
      summary: Search. THIS IS A POST ENDPOINT. NOTION DOES NOT SUPPORT GET
        SEARCH.
      description: Perform a keyword search across all pages and databases. This Endpoint is POST
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"query\": \"Media Article\",\n    \"sort\": {\n       
                \"direction\": \"ascending\",\n        \"timestamp\":
                \"last_edited_time\"\n    }\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
  /v1/comments:
    get:
      tags:
        - Comments
      summary: Retrieve comments
      description: Retrieve a user object using the ID specified in the request path.
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: block_id
          in: query
          schema:
            type: string
          example: '{{BLOCK_ID}}'
        - name: page_size
          in: query
          schema:
            type: integer
          example: '100'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                results:
                  - object: comment
                    id: ed4c62f2-c0ad-4081-b6b8-dad025637741
                    parent:
                      type: block_id
                      block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                    discussion_id: ce18f8c6-ef2a-427f-b416-43531fc7c117
                    created_time: '2022-07-15T21:38:00.000Z'
                    last_edited_time: '2022-07-15T21:38:00.000Z'
                    created_by:
                      object: user
                      id: 952f41bb-da96-4d36-9c2e-74924eee8ef1
                    rich_text:
                      - type: text
                        text:
                          content: Please cite your source
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: Please cite your source
                        href: null
                  - object: comment
                    id: 8949cb38-aee6-4c62-ba96-6ef7df9b4cf2
                    parent:
                      type: block_id
                      block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                    discussion_id: e63f446f-a84a-4cab-8f5a-b9e7779ecb67
                    created_time: '2022-07-15T21:38:00.000Z'
                    last_edited_time: '2022-07-15T21:38:00.000Z'
                    created_by:
                      object: user
                      id: 952f41bb-da96-4d36-9c2e-74924eee8ef1
                    rich_text:
                      - type: text
                        text:
                          content: What other nutrients does kale have?
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: What other nutrients does kale have?
                        href: null
                  - object: comment
                    id: 6cd52483-6d55-4f8a-a724-4adb1c17ed43
                    parent:
                      type: block_id
                      block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                    discussion_id: ce18f8c6-ef2a-427f-b416-43531fc7c117
                    created_time: '2022-07-18T21:48:00.000Z'
                    last_edited_time: '2022-07-18T21:48:00.000Z'
                    created_by:
                      object: user
                      id: e450a39e-9051-4d36-bc4e-8581611fc592
                    rich_text:
                      - type: text
                        text:
                          content: >-
                            https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                          link:
                            url: >-
                              https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: >-
                          https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                        href: >-
                          https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                next_cursor: null
                has_more: false
                type: comment
                comment: {}
    post:
      tags:
        - Comments
      summary: Add comment to discussion
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"discussion_id\": \"{{DISCUSSION_ID}}\",\n   
                \"rich_text\": [\n        {\n            \"text\":
                {\n                \"content\":
                \"https://www.healthline.com/nutrition/10-proven-benefits-of-kale\",\n               
                \"link\": {\n                    \"type\":
                \"url\",\n                    \"url\":
                \"https://www.healthline.com/nutrition/10-proven-benefits-of-kale\"\n               
                }\n            }\n        }\n    ]\n}"
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                object: comment
                id: 6cd52483-6d55-4f8a-a724-4adb1c17ed43
                parent:
                  type: block_id
                  block_id: 5d4ca33c-d6b7-4675-93d9-84b70af45d1c
                discussion_id: ce18f8c6-ef2a-427f-b416-43531fc7c117
                created_time: '2022-07-18T21:48:00.000Z'
                last_edited_time: '2022-07-18T21:48:00.000Z'
                created_by:
                  object: user
                  id: e450a39e-9051-4d36-bc4e-8581611fc592
                rich_text:
                  - type: text
                    text:
                      content: >-
                        https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                      link:
                        url: >-
                          https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                    annotations:
                      bold: false
                      italic: false
                      strikethrough: false
                      underline: false
                      code: false
                      color: default
                    plain_text: >-
                      https://www.healthline.com/nutrition/10-proven-benefits-of-kale
                    href: >-
                      https://www.healthline.com/nutrition/10-proven-benefits-of-kale